@font-face {
  font-family: "Mulish";
  src: url("src/fonts/Mulish-VariableFont_wght.woff2") format("woff2"),
       url("src/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("src/fonts/SpaceMono-Regular.woff2") format("woff2"),
       url("src/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("src/fonts/SpaceMono-Bold.woff2") format("woff2"),
       url("src/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("src/fonts/SpaceMono-Italic.woff2") format("woff2"),
       url("src/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("src/fonts/SpaceMono-BoldItalic.woff2") format("woff2"),
       url("src/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

h1,
h2 {
  font-family: "Space Mono", courier, monospace;
  font-weight: normal;
}

h1, .h1 {
  font-size: fluid(36, 64);
  line-height: 1.1;
}

h2, .h2 {
  font-size: fluid(28, 32);
  line-height: 1.1;
}

h3, .h3 {
  font-size: fluid(18, 24);
  line-height: 1.4;
}
