.carousel {
  padding-top: rem(48);
  padding-bottom: rem(48);
  width: 100vw;
  margin-left: rem(-24);

  @media (min-width: 640px) {
    margin-left: calc(0px - (100vw - calc(calc((1248px - 48px * (12 - 1)) / 12) * 6 + 48px * (6 - 1))) / 2);
  }
}

.carousel__item {
  width: 66%;
  margin-right: rem(24);

  @media (min-width: 640px) {
    width: 33%;
  }
}
