@use "../partials/functions";
@use "../partials/mixins";

.single__patterns {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
  transform-origin: 50% 80%;
  width: 100%;

  path {
    fill: none;
    stroke-linejoin: round;
    stroke-width: 24px;
    stroke: var(--vermillion);
  }

  @media (min-width: 960px) {
    display: block;
  }
}

.single__img {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  margin-left: functions.rem(-24);
  margin-right: functions.rem(-24);
  aspect-ratio: 1 / 1;
  overflow: hidden;

  @media (min-width: 960px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.single__header {
  grid-column: 7 / span 5;
  grid-row: 1 / span 1;

  .infos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .infos__row {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid var(--gray-200);
    padding: functions.rem(16) 0;
    gap: functions.rem(16);

    @media (min-width: 960px) {
      gap: 0;
    }
  }

  .infos__label {
    @include mixins.caption-text;

    flex: 1;
  }

  .infos__value {
    flex: 3;
  }

  .infos__link {
    text-decoration: none;
    color: var(--dark-color);
  }
}

.single__excerpt {
  padding-left: functions.rem(24);
  padding-right: functions.rem(24);
  font-size: functions.fluid(22, 28);
  line-height: 1.5;
  margin-top: functions.rem(58);

  @media (min-width: 640px) {
    box-sizing: content-box;
    max-width: mixins.column-width(8);
    margin-left: auto;
    margin-right: auto;
  }
}
