@use "../partials/functions";

.grid {
  margin-top: functions.rem(96);
  margin-bottom: functions.rem(96);
  padding-right: functions.rem(24);
  padding-left: functions.rem(24);

  @media (min-width: 960px) {
    display: grid;
    grid-gap: functions.rem(48);
    grid: auto-flow dense / repeat(12, minmax(0, calc((1248px - 48px * (12 - 1)) / 12)));
    justify-content: center;

    &.-withHeader::before {
      content: "";
      grid-column: 1 / span 2;
      background-color: var(--dark-color);
      height: 1px;
      margin-top: functions.rem(54);
    }
  }

  &.-withoutMargin {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.-fullHeight {
    height: 100vh;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-row-gap: functions.rem(48);

    @media (min-width: 640px) {
      grid-template-rows: 3fr 1fr;
    }
  }

  &.-inverse::before {
    background-color: var(--light-color);
  }
}
