@import '../partials/functions';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: rem(80);
  z-index: 10;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 rem(24);
  transition: all .4s ease;

  @media (min-width: 960px) {
    background-color: white;
    padding-right: 0;
  }

  &.headroom--not-top {
    background-color: white;
  }

  &__start {
    display: flex;
    align-items: center;
  }

  &__end {
    display: flex;
    flex-direction: row-reverse;

    @media (min-width: 960px) {
      flex-direction: row;
    }
  }

  &__search {
    appearance: none;
    border: none;
    background: inherit;
    width: rem(80);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__logo {
    position: relative;
    z-index: 20;

    .style-svg {
      width: rem(50);
      height: rem(50);
      display: block;

      @media (min-width: 960px) {
        border: 1px solid var(--darkColor);
      }
    }
  }
}


.headroom {
  transition: transform 200ms linear;

  &--top {
    .header__search {
      svg circle,
      svg path {
        stroke: var(--lightColor);

        @media (min-width: 960px) {
          stroke: var(--darkColor);
        }
      }
    }
  }

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}
