@use "../partials/functions";
@use "../partials/mixins";

.searchResult {
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: functions.rem(48);
    margin-bottom: functions.rem(48);
  }

  &__type {
    @include mixins.caption-text;

    color: var(--gray-300);
  }

  &__titleLink {
    text-decoration: none;
    color: var(--dark-color);
  }
}
